@use "../../../../styles/variables.scss" as vars;

.tuning-option {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: vars.$spacing-unit-large vars.$spacing-unit-large * 2;
  border-radius: vars.$radius-m;
  transition: background-color 0.2s, color 0.2s;
  text-align: center;
  color: inherit;

  h3 {
    color: #f9c99f;
    padding-bottom: vars.$spacing-unit-large;
    transition: color 0.2s;
  }

  p {
    letter-spacing: 1px;
    transition: color 0.2s;
  }

  &:hover {
    background-color: vars.$sky-blue-400;

    h3,
    p {
      color: vars.$sky-blue-950;
    }
  }
}
