@use "./variables" as vars;
@use "./themes.scss" as *;

// ========================================================================
// Global Styles
// ========================================================================

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; /* Pushes the footer to the bottom */
}

html {
  font-size: 16px;
  max-width: vars.$max-width;
  padding: 0 vars.$global-pd-desktop;
}

body {
  font-family: vars.$font-primary;
  font-weight: vars.$font-weight-regular;
  color: var(--text-color);
  background-color: var(--background-color);
}

img {
  max-width: 100%;
  height: auto;
}

// ========================================================================
// Typography
// ========================================================================
h1,
h2,
h3 {
  font-weight: vars.$font-weight-medium;
  text-align: center;
}

h1 {
  font-size: vars.$spacing-unit-large * 5;
  padding-top: vars.$spacing-unit-large * 5;
  color: var(--heading-color);
  margin: 0;
}

h2 {
  font-size: vars.$spacing-unit-large * 4;
  margin-bottom: vars.$spacing-unit-large * 3;
  color: var(--heading-color);
}

h3 {
  font-size: vars.$spacing-unit-large * 3;
  font-weight: vars.$font-weight-regular;
  color: var(--heading3-color);
}

p {
  font-size: vars.$spacing-unit-large * 2;
  line-height: vars.$lineheight-m;
}

// ========================================================================
// Button
// ========================================================================
button {
  font-family: vars.$font-primary;
  font-weight: vars.$font-weight-semiBold;
  font-size: vars.$spacing-unit-large * 2;
  padding: vars.$spacing-unit-small * 7 vars.$spacing-unit-large * 4;
  border: none;
}

// ========================================================================
// List
// ========================================================================
ul {
  list-style-type: none;
  text-align: center;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(vars.$spacing-unit-large * 5);

  button {
    box-shadow: none;
  }
}

// ========================================================================
// Others
// ========================================================================
.hidden {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

// ========================================================================
// Responsive Styles
// ========================================================================
@media (max-width: vars.$breakpoint-tablet) {
  html {
    padding: 0 vars.$global-pd-tablet;
  }

  h1 {
    font-size: vars.$spacing-unit-large * 4;
    padding-top: vars.$spacing-unit-large * 6;
  }

  h3 {
    font-size: vars.$spacing-unit-small * 10;
  }
}

@media (max-width: vars.$breakpoint-mobile) {
  html {
    padding: 0 vars.$global-pd-mobile;
  }

  h1,
  h2 {
    font-size: vars.$spacing-unit-large * 3;
    line-height: vars.$lineheight-m;
  }

  h3 {
    font-size: vars.$spacing-unit-small * 9;
  }
}
