@use "../../../../styles/variables.scss" as vars;

button#tuning-selector {
  background-color: transparent;
  box-shadow: none;
  color: var(--text-color);
  margin: vars.$spacing-unit-large * 4 auto vars.$spacing-unit-large * 8;
  font-weight: vars.$font-weight-regular;
  padding: 0;
  text-align: center;
  display: block;
  cursor: pointer;
}

.arrow-icon {
  margin-left: vars.$spacing-unit-large;
  vertical-align: middle;
}

@media (max-width: vars.$breakpoint-mobile) {
  button#tuning-selector {
    margin-bottom: vars.$spacing-unit-large * 5;
    margin-top: vars.$spacing-unit-small * 6;
    font-size: vars.$spacing-unit-small * 6;
  }
}
