@use "../../../../styles/variables.scss" as vars;

.as-link {
  background: none;
  border: none;
  color: var(--heading3-color);
  text-decoration: underline;
  cursor: pointer;
  font: inherit;
  padding: 0;

  &:hover {
    background-color: transparent;
    color: var(--heading-color);
  }
}
