@use "../../styles/variables.scss" as vars;
@use "../../styles/themes.scss";

.tone-line {
  display: flex;
  flex-direction: column;
  align-items: center;

  &::before,
  &::after {
    content: "";
    width: 3px;
    background-color: var(--strings-color);
    transition: background-color 0.3s;
  }

  &:hover::before,
  &:hover::after {
    background-color: var(--strings-color);
    opacity: 0.8;
  }

  &.active::before,
  &.active::after {
    background-color: rgba(118, 200, 147, 0.6);
  }

  &::before {
    height: vars.$spacing-unit-large * 10;
    border-top-left-radius: vars.$radius-full;
    border-top-right-radius: vars.$radius-full;
  }

  &::after {
    height: vars.$spacing-unit-large * 25;
    border-bottom-left-radius: vars.$radius-full;
    border-bottom-right-radius: vars.$radius-full;
  }
}

@media (max-width: vars.$breakpoint-mobile) {
  .tone-line::before,
  .tone-line::after {
    width: vars.$spacing-unit-small;
  }

  .tone-line::before {
    height: vars.$spacing-unit-large * 6;
  }

  .tone-line::after {
    height: vars.$spacing-unit-large * 16;
  }
}
